.form__button {
    height: 45px;
    margin: 152px 0 16px;
    background: #4285F4;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
}

.form__button:disabled {
    opacity: 0.3;
}

@media screen and (max-width: 500px) {
    .form__button {
        width: 260px;
    }
}

.form__text-error {
    margin-top: -45px;
    color: red;
}