.profile__container {
    margin: 0 auto;
    width: 410px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 500px) {
    .profile__container {
        width: 260px;
    }
}