.navbar__button-save-film {
    text-decoration: none;
    padding: 0;
    margin-right: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: #202020;
    border: none;
    color: #FFFFFF;
}

.navbar__button-save-film:hover{
    cursor: pointer;
    opacity: 0.6;
}
