.header__button-film {
    background: #202020;
    border: none;
    color: #FFFFFF;
    width: 200px;
    height: 22px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 29px 28px;
    text-decoration: none;
    text-align: center;
}

.header__button-film:hover{
    cursor: pointer;
    opacity: 0.6;
}
