.navbar__hamb:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .navbar__hamb {
        padding: 26px 30px 0 0;
        display: grid;
        grid-row-gap: 6px;
        justify-items: end;
    }

    .navbar__hamb_active {
        z-index: 2;
        position: fixed;
        right: 0;
        top: 0;
    }

    .navbar__hamb_active .navbar__bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__hamb_active .navbar__bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .navbar__hamb_active .navbar__bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

@media screen and (max-width: 500px) {
    .navbar__hamb {
        /*width: 200px;*/
        padding-right: 14px;
    }
}