.navbar__menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 18px 70px 0 0;
}


@media screen and (max-width: 800px) {
    .navbar__menu {
        display: none;
        width: 200px;
        /*display: none;*/
    }
}