.about-me__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    margin: 18px auto 26px;
}

@media screen and (max-width: 800px) {
    .about-me__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin: 16px auto 20px;
    }
}

@media screen and (max-width: 800px) {
    .about-me__subtitle {
        font-size: 11px;
        line-height: 16px;
        margin-top: 20px;
    }
}
