.footer__year {
    max-width: max-content;
    margin: 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 400px) {
    .footer__year {
        margin: 18px auto 10px;
        color: #8B8B8B;
        font-size: 12px;
        line-height: 15px;
    }
}