.switch__check {
    width: 36px;
    height: 14px;
    margin: 2px 1px;
    position: absolute;
    -webkit-appearance: none;
    outline: none;
    background: #C4C4C4;
    border-radius: 20px;
    transition: .4s;
    z-index: 0;
}
@media screen and (max-width: 900px) {
    .switch__check {
        margin-left: 133px;
    }
}

.switch__check:checked {
    background: #3DDC84;
}

.switch__check:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: #FFFFFF;
    transition: .4s;
    transform: scale(1.1);
}

.switch__check:checked:before {
    left: 24px;
}

.switch__check:hover {
    cursor: pointer;
    opacity: 0.6;
}
