.authorized-header__hamb:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .authorized-header__hamb {
        padding: 26px 30px 0 0;
        display: grid;
        grid-row-gap: 6px;
        justify-items: end;
    }
}

@media screen and (max-width: 500px) {
    .authorized-header__hamb {
        padding-right: 14px;
    }
}