.switch__name{
    margin: 0 0 0 48px;
    width: 117px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
@media screen and (max-width: 900px) {
    .switch__name {
        margin: 0 52px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .switch__name {
        font-size: 11px;
        margin: 0;
    }
}