.not-autorized__link-register {
    text-decoration: none;
    margin-right: 30px;
    padding: 0;
    border: none;
    background-color: #073042;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.not-autorized__link-register:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px){
    .not-autorized__link-register {
        font-size: 10px;
        margin-right: 14px;
    }
}