.navbar__button-account {
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #202020;
    border: none;
}

.navbar__button-account:hover {
    cursor: pointer;
    opacity: 0.6;
}
