.about-me__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto 140px;
}

@media screen and (max-width: 800px) {
    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 700px) {
    .about-me__description {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 600px) {
    .about-me__description {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }
}